.product-name a{
    font-size: 16px;
    font-weight: 600;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-next{
    background-image: unset;
}
.swiper-button-prev{
    background-image: unset;
    margin-left: 15px;
}
.swiper-wrapper{
    font-size: 25px;
}
.recommended-container{
    display:flex;
    flex-wrap: wrap;
}
.container--padding{
    border-top: 1px solid #eee;
    padding-top: 35px;
}
.recommended-product{
    width: 20%;
    padding: 12px;
    box-sizing: border-box;
    margin: 0px 0 24px;
    background-color: #fff;
    position: relative;
}
.recommended-product img{
    width: 100%;
}
 h3{
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 25px;
    margin-top: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;

} 
.prices {
    justify-content: center;
}
.swiper-container{
    margin-bottom: 30px;
}

.product-price{
    margin-bottom: 0;
    font-size: 25px;
}
.product-name{
    margin-top:15px;
}
@media(max-width:800px){
    .recommended-product{
        width: 33.3%;
        /* padding: 10px; */
        
    }
}
@media(max-width:600px){
    .recommended-product{
        width: 50%;
        /* padding: 10px; */
        
    }

}
@media(max-width:300px){
    .recommended-product{
        width:100%;
        /* padding: 10px; */
        
    }
}