<!--The content below is only a placeholder and can be replaced.-->
<header class="master-header"><div ><img class="logo" src="../assets/placeholder.com-logo1.jpg"></div>

<div id="more-info"> 
  
    <div id="contact-info">
        <a href="tel:#"><i class="fas fa-phone" style="margin-right: 10px"></i>+48 111 222 333</a>
        
        </div>
  <div class="buttons">
    <div id="account"><a href="#"><i class="fas fa-user"></i> <div class="account-list">
        <ul>
          <li>Rejestracja</li>
          <li>Zaloguj</li>
        </ul>
      </div></a>
   
    </div>
    <div id="busket"><a href="#"><i class="fas fa-shopping-basket"></i></a></div>
    
    </div></div>



</header>
<div style="text-align:center">
</div>


