tr.naglowek td {
    width: 33%;
}
.order-product-detalis{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.orders-background{
background-color: #fff;
/* margin-bottom: 50px; */
}
.order-detalis{
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
}
.cart-table{
    background-color: unset;
}
tr.naglowek-padding td{
padding:5px;
}
.ile-lacznie{
    font-size: 18px;
    padding-bottom: 4px;
}
@media(max-width:450px){
    .order-detalis{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 15px;
    }
    .order-detalis p{
        margin:0;
        padding:0;
    }
    tr.naglowek td{
        padding: 0;  
    }
}